$color_blue: #fff
*
  font-family: 標楷體
  //border: solid 2px #777
body
  height: 1000px
h1, h2, h3, h4, h5, h6
  font-weight: 500

header.jumbotron
  height: 800px
  margin-bottom: 0px
  text-align: center
  background-image: url(https://www.imgbase.info/images/safe-wallpapers/sports/soccer/42909_soccer_arsenal_arsenal_fc.jpg)
  background-size: cover
  mix-blend-mode: multiply
  background-attachment: fixed
  .container
    color: #000000
    padding: 100px 100px
  hr
    max-width: 300px
    //border: solid 2px $color_blue
  h4
    color: rgba(white, 0.8)
section
  padding: 50px 0px
section#section_ask
  background-color: $color_blue
  .col-sm-5.img
    background-image: url(http://www.sompaisoscatalans.cat/simage/76/765975/arsenal-wallpaper-android.png)
    height: 400px
    background-size: cover
    mix-blend-mode: multiply
  h2
    margin-top: 130px
    padding: 0px 20px
    
  section#section_about
    img
      width: 50%
    .img_wrap
      height: 100px
      overflow: hidden