nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") Arsenal FC 阿森納足球俱樂部
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 關於 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="https://www.instagram.com/arsenal/?hl=zh-cn") INSTAGRAM
header.jumbotron
  .container
    h1 Arsenal
    hr
    h3 英格蘭超級聯賽三屆冠軍
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 傳奇教練——阿森.溫格：
        h4 “按照宗教的说法，上帝创造了人类。我只是一个向导，让他人能够展现出自己的能量。我没有创造任何东西，只是作为一个促进者激发出人们美好的东西。”
section#section_about
  .container
    .row
      .col-sm-12
        h1 關於
        hr
      .col-sm-4
        .img_wrap
        img(src="https://goo.gl/EKGbB3", alt="")
        h3 球隊簡介
        p 阿森納於1886年成立，起初俱樂部的名字為戴爾廣場足球俱樂部（Dial Square FC）。1893年，俱樂部加入英格蘭足球聯賽系統，成為首支加入的南部俱樂部。於1930年代，阿森納贏得多項主要錦標，包括5次聯賽冠軍，以及2次足協盃冠軍。2003-04賽季，阿森納以不敗的成績，奪得當屆聯賽冠軍。俱樂部於20世紀的聯賽平均排名是所有英格蘭俱樂部之冠。
      .col-sm-4
       .img_wrap
        img(src="https://goo.gl/Qb92VT", alt="")
        h3 球場介紹
        p 酋長球場（Emirates Stadium），是英格蘭足球超級聯賽俱樂部兵工廠的主場，位於英格蘭倫敦的霍洛威。酋長球場為全英國第三大的足球場，僅次於英格蘭國家隊的主場溫布利球場和曼聯的主場老特拉福球場。
      .col-sm-4
       .img_wrap
        img(src="https://goo.gl/ghMJWo", alt="")
        h3 榮譽
        p 英格蘭超級聯賽冠軍：3次<br>甲級聯賽冠軍：10次<br>英格蘭足總盃冠軍：13次<br>英格蘭聯賽盃冠軍：2次<br>歐洲優勝者盃：1次
        
  section#section_video
    .container
      .row
        .col-sm-12
          h1 2017 FA Cup Champion - Arsenal !
          hr
        .col-sm-12
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/watch?v=i7ECoXBmQPw" allowfullscreen="")